In [4]:
%pip install pynsee

Requirement already satisfied: pynsee in /opt/python/lib/python3.13/site-packages (0.2.4)
Requirement already satisfied: pandas<3.0,>=2.2.0 in /opt/python/lib/python3.13/site-packages (from pynsee) (2.3.3)
Requirement already satisfied: geopandas<2.0,>=1.0 in /opt/python/lib/python3.13/site-packages (from pynsee) (1.1.1)
Requirement already satisfied: pyarrow>=17.0 in /opt/python/lib/python3.13/site-packages (from pynsee) (22.0.0)
Requirement already satisfied: tqdm>=4.56 in /opt/python/lib/python3.13/site-packages (from pynsee) (4.67.1)
Requirement already satisfied: platformdirs>=4 in /opt/python/lib/python3.13/site-packages (from pynsee) (4.5.0)
Requirement already satisfied: unidecode>=1.3 in /opt/python/lib/python3.13/site-packages (from pynsee) (1.4.0)
Requirement already satisfied: urllib3>=2.2 in /opt/python/lib/python3.13/site-packages (from pynsee) (2.5.0)
Requirement already satisfied: shapely>=2 in /opt/python/lib/python3.13/site-packages (from pynsee) (2.1.2)
Requirement already satisfied: requests>=2.32 in /opt/python/lib/python3.13/site-packages (from pynsee) (2.32.5)
Requirement already satisfied: requests-ratelimiter>=0.7 in /opt/python/lib/python3.13/site-packages (from pynsee) (0.7.0)
Requirement already satisfied: openpyxl in /opt/python/lib/python3.13/site-packages (from pynsee) (3.1.5)
Requirement already satisfied: numpy>=1.24 in /opt/python/lib/python3.13/site-packages (from geopandas<2.0,>=1.0->pynsee) (2.3.5)
Requirement already satisfied: pyogrio>=0.7.2 in /opt/python/lib/python3.13/site-packages (from geopandas<2.0,>=1.0->pynsee) (0.12.1)
Requirement already satisfied: packaging in /opt/python/lib/python3.13/site-packages (from geopandas<2.0,>=1.0->pynsee) (25.0)
Requirement already satisfied: pyproj>=3.5.0 in /opt/python/lib/python3.13/site-packages (from geopandas<2.0,>=1.0->pynsee) (3.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/python/lib/python3.13/site-packages (from pandas<3.0,>=2.2.0->pynsee) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/python/lib/python3.13/site-packages (from pandas<3.0,>=2.2.0->pynsee) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/python/lib/python3.13/site-packages (from pandas<3.0,>=2.2.0->pynsee) (2025.2)
Requirement already satisfied: certifi in /opt/python/lib/python3.13/site-packages (from pyogrio>=0.7.2->geopandas<2.0,>=1.0->pynsee) (2025.11.12)
Requirement already satisfied: six>=1.5 in /opt/python/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=2.2.0->pynsee) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/python/lib/python3.13/site-packages (from requests>=2.32->pynsee) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/python/lib/python3.13/site-packages (from requests>=2.32->pynsee) (3.11)
Requirement already satisfied: pyrate-limiter<3.0 in /opt/python/lib/python3.13/site-packages (from requests-ratelimiter>=0.7->pynsee) (2.10.0)
Requirement already satisfied: et-xmlfile in /opt/python/lib/python3.13/site-packages (from openpyxl->pynsee) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pynsee
import pynsee.download
import seaborn as sns

In [6]:
# Créons un data frame à partir du CSV

chemin_fichier = '../Collecte de données/country_risk_premiums.csv'
df_crp = pd.read_csv(chemin_fichier)
df_crp.head(20)

,Country,Adj. Default\n Spread,Equity Risk\n Premium,Country Risk\n Premium,Corporate Tax\n Rate,Moody's rating
0,Abu Dhabi,0.49,4.99,0.66,15.00,NaN
1,Albania,3.56,9.13,4.80,15.00,NaN
2,Algeria,2.98,8.35,4.02,15.00,NaN
3,Andorra (Principality of),1.58,6.46,2.13,18.98,NaN
4,Angola,6.44,13.01,8.68,25.00,NaN
5,Anguilla,6.01,12.44,8.11,25.23,NaN
6,Antigua & Barbuda,6.01,12.43,8.10,25.23,NaN
7,Argentina,11.88,20.35,16.02,35.00,NaN
8,Armenia,3.56,9.13,4.80,18.00,NaN
9,Aruba,2.18,7.26,2.93,25.00,NaN
10,Australia,0.00,4.33,0.00,30.00,NaN
11,Austria,0.40,4.86,0.53,24.00,NaN
12,Azerbaijan,2.48,7.67,3.34,20.00,NaN
13,Bahamas,4.46,10.34,6.01,0.00,NaN
14,Bahrain,5.45,11.67,7.34,0.00,NaN
15,Bangladesh,5.45,11.67,7.34,30.00,NaN
16,Barbados,6.44,13.01,8.68,5.50,NaN
17,Belarus,17.50,27.92,23.59,18.00,NaN
18,Belgium,0.59,5.13,0.80,25.00,NaN
19,Belize,7.43,14.34,10.01,28.53,NaN